body {
  font-family: poppins, sans-serif;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/178/048/original/image1.jpg?1770493099");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0;
  width: 100%;
  text-align: center;
  opacity: 0.9; /*This opacity makes the background-image everything greyish, delete if unwanted*/
  background-color: #0071d2; /*If background-image is not shown this background-color that is coded as the bottom layer will then show*/
}

.hero h1 {
  color: white;
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
  margin: 0 auto;
}

.hero h3 {
  color: white;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  margin: 0 auto;
}

.hero p {
  color: white;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
}

.hero a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #272044;
}

.hero button {
  padding: 16px 32px;
}

button {
  border: none;
}

button:hover {
  background-color: #5a808f;
  border: none;
  border-radius: 4px;
}

.head-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;

  padding: 0 24px;
  max-width: 1200px;
  margin: 100px auto;
}

.box-city {
}

.box-city img {
  width: 100%;
  height: 461px;
}

.box-city-content {
  height: 100%;
  max-width: 570px;
  width: 100%;
}

.box-city-content h2 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
}

.box-city-content h3 {
  margin-top: 0;
  margin: 7px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.box-city-content p {
  line-height: 24px;
}

span {
  font-weight: 700;
}

.container-highlights {
  background-image: linear-gradient(#f8f8f8);
}

.container-highlights-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #272044;
  margin-top: 0;
  margin-bottom: 30px;
}

.container-highlights-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #272044;
  opacity: 0.3;
  margin-bottom: 7px;
  padding-top: 100px;
}

.grids-highlights {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 24px 100px;
  margin: 0 auto;
  max-width: 1200px;
}

.grid-highlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}

.grid-highlights img,
.grid-highlights iframe {
  display: block;
  width: 100%;
  height: 185px;
  border: none;
}

article {
  background-color: white;
  max-width: 370px;
  width: 100%;
  height: 698px;
  margin: 0 0 24px 0;
  padding-bottom: 160px;
}

article h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #272044;
  margin-bottom: 8px;
}

article div {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #272044;
  margin-bottom: 8px;
}

article p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #272044;
  opacity: 0.7;
  margin-top: 0;
  margin-bottom: 40px;
}

article button {
  background-color: #1f4567;
  padding: 16px 32px;
  display: block;
  margin: 24px auto;
  width: 100%;
}

article a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.highlights-content {
  padding: 0 32px 24px 32px;
}

.container-gallery {
  padding: 0 24px 100px;
  max-width: 1400px;
  margin: 0 auto;
}

.grids-gallery {
  display: grid;
  grid-gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-gallery {
}

.grid-gallery div {
}

.grid-gallery img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  display: block;
  transition: transform 200ms ease-in-out;
}

.grid-gallery img:hover {
  transform: scale(1.1);
}

.gallery-content {
}

.gallery-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #272044;
  margin-top: 0;
  margin-bottom: 30px;
}

.gallery-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #272044;
  opacity: 0.3;
  margin-bottom: 0px;
  padding-top: 100px;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

ul li a {
  color: white;
  opacity: 0.5;
}

ul li a:hover {
  color: rgb(185, 92, 185);
  opacity: 1;
  font-weight: 700;
}

.footer-grids {
  max-width: 1200px;
  padding: 100px 24px;
  margin: 0 auto;
  grid-gap: 64px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  text-align: left;
}

footer {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  opacity: 0.5;
}

footer p a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

footer p a:hover {
  color: rgb(185, 92, 185);

  font-weight: 900;
}

.footer-container {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/178/059/original/image12.png?1770493250");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 334px;
  width: 100%;
  text-align: center;
  opacity: 0.9;
  background-color: #0071d2; /*If background-image is not shown this background-color that is coded as the bottom layer will then show*/
}

@media (max-width: 576px) {
  .hero {
    padding: 50px 0;
  }

  .hero h1 {
    font-size: 36px;
    line-height: 50px;
  }

  .hero h3 {
    font-size: 16px;
    line-height: 18px;
  }

  .hero p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 32px;
  }

  .hero a {
    font-size: 11px;
    line-height: 11px;
  }

  .hero button {
    padding: 8px 16px;
  }

  .head-grid {
    grid-template-columns: 1fr;
    margin: 10px auto 0px;
    grid-gap: 0;
  }

  .box-city img {
    width: 100%;
    height: auto;
    margin: 30px 0;
  }

  .box-city-content {
    width: 100%;
    text-align: center;
  }

  .box-city-content h2 {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
  }

  .box-city-content h3 {
    text-align: center;

    font-size: 16px;

    line-height: 18px;
  }

  .box-city-content p {
    line-height: 22px;
  }

  .container-highlights {
    width: 100%;
  }

  .container-highlights-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: #272044;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .container-highlights-subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #272044;
    opacity: 0.3;
    margin-bottom: 7px;
    padding-top: 50px;
  }

  .grids-highlights {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr;
    padding: 0 24px 20px;
    margin: 0 auto;
  }

  .grid-highlights {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 0;
  }

  .grid-highlights img,
  .grid-highlights iframe {
    display: block;
    width: 100%;

    border: none;
  }

  article {
    width: 100%;
    padding-bottom: 0;
  }

  article h3 {
    font-size: 16px;
    line-height: 18px;
  }

  article div {
    font-size: 13px;
  }

  article p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  article button {
    padding: 8px 16px;
  }

  article a {
    font-size: 14px;
  }

  .grids-gallery {
    grid-template-columns: 1fr;
  }

  .gallery-subtitle {
    padding-top: 20px;
    line-height: 20px;
  }

  .gallery-title {
    font-size: 24px;
    line-height: 50px;
  }

  ul {
    padding: 0;
    margin-top: 0;
  }

  ul li {
    list-style-type: none;
    font-size: 12px;
  }

  ul li a {
    color: white;
    opacity: 0.5;
  }

  ul li a:hover {
    color: rgb(185, 92, 185);
    opacity: 1;
    font-weight: 700;
  }

  .footer-grids {
    max-width: 1200px;
    padding: 10px 25px 10px 25px;
    grid-gap: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
  }

  footer {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  footer h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
  }

  footer p {
    opacity: 0.5;
    font-size: 12px;
    margin-top: 0;
  }

  footer p a {
    text-decoration: none;
    color: white;
    font-weight: 700;
  }

  footer p a:hover {
    color: rgb(185, 92, 185);

    font-weight: 900;
  }

  .footer-container {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/178/059/original/image12.png?1770493250");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 334px;
    width: 100%;
    text-align: center;
    opacity: 0.9;
    background-color: #0071d2; /*If background-image is not shown this background-color that is coded as the bottom layer will then show*/
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .head-grid {
    grid-template-columns: 1fr;
  }

  .box-city img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .grid-gallery img {
    width: 50%;

    display: block;
    margin: 0 auto;
  }

  .box-city-content {
    margin-left: 100px;
  }

  article {
    padding-bottom: 380px;
  }
  .container-highlights {
    margin-bottom: 100px;
    width: 100%;
  }
  .grids-highlights {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-subtitle {
    padding: 0;
  }

  .grids-gallery {
    grid-template-columns: 1fr;
  }

  .hero {
    padding: 120px 24px;
    margin: 0;
  }

  .footer-grids {
    padding-top: 40px;
  }
}

@media (min-width: 992px) {
  .footer-grids {
    padding: 60px;
  }
}
